<form class="form-inline" id="form-search">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button class="btn btn-bg bg-white" type="button" onclick="buscar()"><i class="fa-solid fa-magnifying-glass text-warning fa-lg"></i></button>
                            </div>
                            <input id="busqueda" name="keyword" class="form-control form-control-lg" type="text" placeholder="Buscar vacantes" value="{{terminoBusqueda}}"></div>
                            
                                
                            </form>