<label class="font-weight-bold form-control-lg" for="inputNumero">{{ mensajeLabel }}</label>
<input type="number" class="form-control text-center form-control-lg" id="inputNumero" placeholder="Teléfono de contacto" value="{{ numeroContacto }}" maxlength="12" minlength="10" required>