<label class="font-weight-bold text-dark" for="inputNumero">Revisa tu número de contacto</label>
                                <input type="number" class="form-control text-center texto-oscuro" id="inputNumero" placeholder="Celular" value="{{ usuario.numeroContacto }}">