<label for="descripcion" class="text-dark font-weight-bold">Descripción</label>
                    <textarea class="form-control form-control-user text-center texto-oscuro" id="descripcion" placeholder="300 carácteres máximo" maxlength="300" rows="3">{{ usuario.descripcion }}</textarea>