<label class="font-weight-bold text-dark" for="inputCorreo">Revisa tu correo electrónico</label>
                        <input type="text" id="inputCorreo" class="form-control form-control-lg" placeholder="Correo institucional UAEMEX" aria-label="Correo institucional UAEMEX" aria-describedby="basic-addon2" value="{{usuario.email}}">