<!-- Bootstrap core JavaScript-->
    <script src="/libs/jquery/jquery.min.js"></script>
    <script src="/libs/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Socket.io -->
    <script src="/socket.io/socket.io.js"></script>
    
    <!-- Core plugin JavaScript-->
    <script src="/libs/jquery-easing/jquery.easing.min.js"></script>

    <!-- Script de Mark plugin-->
    <script src="/js/mark/jquery.mark.min.js"></script>
    <script src="/js/mark/jquery.mark.es6.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->
    <script src="/libs/datatables/jquery.dataTables.min.js"></script>
    <script src="/libs/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/datatables-demo.js"></script>
    
    <!--strength v0.2.5-->
	<script src="/libs/password_strength.js"></script>
	<script src="/libs/jquery-strength.js"></script>

    <!-- Sweet Alert-->

    <!-- Custom scripts -->
    <script src="/js/functions.js"></script>
    <script src="/js/{{ archivoJS }}"></script>
    

</body>

</html>
