<div class="row">
    <div class="col text-center">
        <img class="z-depth-2 foto-empresa mx-auto" src="/img/UAEM_logo.png" data-holder-rendered="true">
        <h5 class="texto-verde">Depto. Bolsa de trabajo</h5>
        <h5 class="text-dark font-weight-bold">M. en D. Emilio Rodriguez</h5>
        <h6 class="text-dark font-weight-bold">BolsaDeTrabajo.CUVT.UAEM@uaemex.mx</h6>
        <h6 class="text-dark font-weight-bold">(01 592) 92 4 55 83</h6>
        <h6 class="text-dark font-weight-bold">Centro Universitario UAEM Valle de Teotihuacan.
            <br>
            Sto. Domingo Aztacameca Axa. Edo. México
        </h6>
    </div>
</div>


<div class="row mb-3 mt-3">
    <div class="col mx-auto">
        <a href="/perfil" class="btn btn-warning btn-block">
            <i class="fa-solid fa-eye fa-2x text-success align-middle"></i>&nbsp; Egresado</a>
    </div>
    <div class="col mx-auto">
        <a href="/perfil/empresarial/1" class="btn btn-warning btn-block">
            <i class="fa-solid fa-eye fa-2x text-primary align-middle"></i>&nbsp; Empresa</a>
    </div>
    <div class="col mx-auto">
        <a href="/perfil/administrativo/1/1" class="btn btn-warning btn-block">
            <i class="fa-solid fa-eye fa-2x text-secondary align-middle"></i>&nbsp; Administrativo</a>
    </div>
</div>

<div class="row mb-3 mt-3">
    <div class="col mx-auto">
        <a target="_blank" href="/archivos/download/registros/registros_entrevistas" class="btn btn-warning btn-block texto-verde">
            <i class="fa-solid fa-cloud-arrow-down fa-2x align-middle"></i>&nbsp; Descargar registros Entrevistas</a>
    </div>
    <div class="col mx-auto">
        <a target="_blank" href="/archivos/download/registros/registros_verificacion"
            class="btn btn-warning btn-block text-primary font-weight-bold">
            <i class="fa-solid fa-cloud-arrow-down fa-2x align-middle"></i>&nbsp; Descargar registros Verificación</a>
    </div>
</div>

<div class="row mb-3 mt-3" id="buttonCrearVacante">
    <div class="col-md-6 mx-auto">
        <a href="/vacante/form/creacion" class="btn btn-warning btn-block">
            <i class="fa-solid fa-plus fa-2x text-success align-middle"></i>&nbsp; Crear vacante</a>
    </div>
</div>