{{#if foto}}
<img id="img-previo" class="z-depth-2 foto-perfil mx-auto" src="data:image/*;base64,{{foto }}"
    data-holder-rendered="true" onerror="this.src='/img/no-img.jpg';this.onerror='';">
{{else}}
<img id="img-previo" class="z-depth-2 foto-perfil mx-auto" src="/img/no-img.jpg" data-holder-rendered="true">
{{/if}}

<div class="custom-file">
    <input type="file" class="custom-file-input cursor-puntero" id="inputFoto" lang="es">
    <label class="custom-file-label cursor-puntero" for="logo"><i class="fa fa-plus text-primary" aria-hidden="true"
            style="font-size: 25px;"></i> Seleccionar fotografía</label>
</div>