<label for="licenciatura" class="text-dark font-weight-bold">Selecciona tu licenciatura</label>
                        <select id="licenciatura" class="form-control" name="licenciatura">
                            <option value="LIA" {{#if (ifeq usuario.licenciatura "LIA")}} selected{{/if}}>LIA - Licenciatura en Informática Administrativa</option>
                            <option value="ICO" {{#if (ifeq usuario.licenciatura "ICO")}} selected{{/if}}>ICO - Licenciatura en Ingeniería en Computación</option>
                            <option value="LCN" {{#if (ifeq usuario.licenciatura "LCN")}} selected{{/if}}>LCN - Licenciatura en Contaduría</option>
                            <option value="LPS" {{#if (ifeq usuario.licenciatura "LPS")}} selected{{/if}}>LPS - Licenciatura en Psicología</option>
                            <option value="LTU" {{#if (ifeq usuario.licenciatura "LTU")}} selected{{/if}}>LTU - Licenciatura en Turismo</option>
                            <option value="LDE" {{#if (ifeq usuario.licenciatura "LDE")}} selected{{/if}}>LDE - Licenciatura en Derecho</option>
                        </select>