<div class="modal fade" id="cambioPasswordModal" tabindex="-1" role="dialog" aria-labelledby="formacionModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cambio de contraseña:</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="user" id="cambioPassword-form">

                    <div class="form-row">
                        <div class="form-group col">
                    <label for="password" class="text-dark font-weight-bold">Nueva contraseña</label>
                    <input type="password" id="inputPassword" class="form-control form-control-lg form-control-user security-password" placeholder="Mínimo 8 carácteres" name="password" minlength="8" required>
                </div>
                    </div>

                    <button type="submit" class="btn btn-info btn-user btn-block">
                        Cambiar contraseña
                    </button>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>