<div class="container border border-warning rounded m-0 pt-0 pb-0 ">
                {{#each usuario.estudios}}
                <div class="form-row mt-3">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <input type="text" disabled class="form-control text-center form-control-lg"
                                placeholder="Centro Educativo" value="{{ this.nombreEscuela }}">
                        </div>
                        <div class="form-group col">
                            {{> selectNivelAcademico_Partial desabilitado=true }}
                        </div>
                        <div class="form-group col-md-3">
                            <input type="text" disabled class="form-control text-center form-control-lg"
                                placeholder="Periodo (2010-2011)" value="{{ this.periodo }}">
                        </div>
                        <div class="form-group col">
                            <a class="btn btn-danger" onclick="borrarEstudio('{{this._id}}')">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <hr>
                {{/each}}
                <button role="button" type="button" class="btn btn-success mb-2" data-toggle="modal"
                    data-target="#formacionModal"><i class="fa-solid fa-circle-plus fa-2x text-warning"
                        aria-hidden="true"></i>
                    Nueva formación</button>
            </div>