<div class="form-check">
    <input id="termCondCheck" class="form-check-input" type="checkbox" id="invalidCheck" required>
    <label class="form-check-label text-justify texto-terminos" for="invalidCheck">
        Acepto que los datos proporcionados sean usados con fines de referencia de la empresa para el sistema "Panal de
        Trabajo", así mismo <b>conozco y acepto el {{> avisoPrivacidad_Partial}}</b>.
    </label>
    <div class="invalid-feedback">
        Debe aceptar los términos y condiciones.
    </div>
</div>