{{#if (ifdiff usuario.perfilVerificado "Verificado")}}
<div class="row">
    <div class="col">
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <h3>
                <i class="fas fa-exclamation-triangle text-warning" aria-hidden="true"></i>
                <strong>Información!</strong> Por favor verifique su cuenta, ha sido enviado a su correo electrónico (<b>{{usuario.email}}</b>) un enlace para <a onclick="enviarURLVerificacion()" class="alert-link">verificar su cuenta</a>.
            </h3>
        </div>
    </div>
</div>
{{/if}}