 {{> head }} {{> navbar }}

<div class="container mt-5 pt-4 text-center animated fadeIn">
    <h1 class="text-dark">Información de contacto:</h1>
    <hr>

    
        <h3><i class="fa fa-globe" aria-hidden="true"></i> Página web: <a href="https://axapusco.edomex.gob.mx/">https://axapusco.edomex.gob.mx/</a></h4>
            <h3><i class="fab fa-facebook-f text-primary"></i> Facebook: <a href="https://facebook.com">@H. Ayuntamiento de Axapusco 2019-202</a></h4>

    <img src="/img/centro-axapusco.jpg" class="img img-fluid animated bounceIn" style="width: 500px;">
</div>


{{> footer }}