{{> head }}
{{> navbar_perfil }}

<div class="container-fluid pt-5">
    <div class="row mt-5">
        <div class="col">
            {{> sinConexion }}
        </div>
    </div>
    <div class="row">
        <div class="col col-md-4 animated bounceIn">
            {{> informacionPerfilAdministrativoPartial }}
        </div>

        <div class="col">
            <!-- Fomularios realizados -->
            <div class="row">
                <div class="col text-center">
                    <div class="alert alert-light font-weight-bold" role="alert">
                        Formularios Realizados
                        <b>Estudiantes:</b>
                        <b class="texto-verde">{{ solicitantes.total }}</b>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    {{> cardInformacionEstudiantesPartial }}
                    <!-- Si es m치s de un p치gina -->
                    {{> navegacionEstudiantesPartial paginas=solicitantes.paginas no_pagina=no_pagina_formularios }}
                    <!-- Fin columna -->
                </div>
            </div>


            <!-- Fomularios realizados -->
            <div class="row">
                <div class="col text-center">
                    <div class="alert alert-light font-weight-bold" role="alert">
                        Formularios Realizados
                        <b>Empresas:</b>
                        <b class="texto-verde">{{ empresas.total }}</b>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    {{> cardInformacionEmpresasPartial }}
                    <!-- Si es m치s de un p치gina -->
                    {{> navegacionEmpresasPartial paginas=empresas.paginas no_pagina=no_pagina_empresas }}
                    <!-- Fin columna -->
                </div>
            </div>
            <!-- Fin de la fila -->
        </div>
    </div>
    <!-- Fin container -->
</div>
{{> footer }}