{{> head_Partial }}


            <div class="col">
                <div class="row">
                    <div class="col text-center">
                        <div class="alert alert-light font-weight-bold" role="alert">
                {{#if (ifeq usuario.perfilVerificado "Verificado")}}
                            Solicitudes
                            <b class="texto-verde">{{ solicitudes }}</b>
                            <i class="fa fa-bell text-warning" aria-hidden="true"></i>
                            {{else}}
                            Debe verificar su cuenta para poder crear vacantes.
                            {{/if}}
                        </div>
                    </div>
                </div>

                {{#if (ifeq usuario.perfilVerificado "Verificado")}}
                <!-- Solicitantes -->
                <div class="row">
                    <div class="col">
                        {{> solicitantesPartial }}
                            <!-- Fin columna -->
                        </div>
                    </div>
                    <!-- Fin de la fila -->
                    {{/if}}
                </div>
                <!-- Fin container -->
            </div>
            {{> footer }}

