{{> head_Partial }}


<div class="col">
    <div class="row">
        <div class="col text-center">
            <div class="alert alert-light font-weight-bold" role="alert">
                {{#if (ifeq usuario.perfilVerificado "Verificado")}}
                {{#if (esMayor solicitantes.total 0) }}
                Solicitudes
                <b class="texto-verde">{{ solicitantes.total }}</b>
                <i class="fa fa-bell text-warning" aria-hidden="true"></i>
                {{else}}
                <b class="texto-verde">No cuenta con postulantes, cree una vacante ahora mismo!</b>
                {{/if}}
                {{else}}
                Debe verificar su cuenta para poder crear vacantes.
                {{/if}}
            </div>
        </div>
    </div>
{{#if (esMayor solicitantes.total 0) }}
    {{#if (ifeq usuario.perfilVerificado "Verificado")}}
    <!-- Solicitantes -->
    <div class="row">
        <div class="col">
            {{> solicitantesPartial }}
            <!-- Fin columna -->
        </div>
    </div>
    <!-- Fin de la fila -->
    {{/if}}
    {{/if}}
</div>
<!-- Fin container -->
</div>
{{> footer }}