{{> head_Partial }}
        <div class="col col-md-6 mx-auto">
            <form class="user animated bounceIn back-Yellow-Black bordes-form p-5" id="form-recuperar-contrasenia">

<div class="form-group row">
                    <div class="col text-center">
                    <h3 class="form-control-lg">Recupera tu cuenta</h3>
                    <hr>
                    <h5 class="text-justify texto-verde">Ingresa tu correo electrónico o número de celular para buscar tu cuenta.</h5>
                        </div>
                        </div>
                <div class="form-group row">
                    <div class="col">
                        <!-- Email -->
                        <div class="input-group mb-3">
                            <input type="email" class="form-control form-control-user ml-2 text-center font-weight-bold" placeholder="Correo Electrónico" name="email" id="inputEmail" required>
                        </div>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary btn-user btn-block">
                            Recuperar contraseña
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div><!-- Fin de la fila -->

    <div class="row">
        <div class="col text-right">
            {{> avisoPrivacidad_Partial }}
        </div>
    </div>
</div>


{{> footer }}
