{{> head }}
{{> navbar}}


<div class="container p-5">
    <div class="row mt-5">
        <h5 class="mx-auto">El registro es un procedimiento rápido y fácil. Aumenta tus oportunidades de empleo.</h5>
        <div class="col-lg-4 animated bounceIn">
            <form
                class="user animated bounceIn">
                <!-- Nombre -->
                <div class="form-group text-center">
                    <label for="nombre" class="text-dark font-weight-bold">Ingresa tu nombre</label>
                    <input type="text" id="nombre" class="form-control form-control-user" placeholder="Nombre(s)" name="nombre" required>
                </div>

                <!-- Apellidos -->
                <div class="form-group text-center">
                    <label for="apellidos" class="text-dark font-weight-bold">Ingresa tus apellidos</label>
                    <input type="text" id="apellidos" class="form-control form-control-user" placeholder="Apellidos" name="apellidos" required>
                </div>


                <!-- Email -->
                <div class="form-group text-center">
                    <label for="email" class="text-dark font-weight-bold">Correo electrónico</label>
                    <input type="email" id="email" class="form-control form-control-user" placeholder="Correo institucional UAEMEX" name="email" required>
                </div>

                <!-- Contraseña -->
                <div class="form-group text-center">
                    <label for="password" class="text-dark font-weight-bold">Contraseña</label>
                    <input type="password" id="password" class="form-control form-control-user" placeholder="Mínimo 8 carácteres" name="password" minlength="8" required>
                </div>

                <!-- Contacto -->
                <div class="form-group text-center">
                    <label for="contacto" class="text-dark font-weight-bold">Número de contacto</label>
                    <input type="tel" id="contacto" class="form-control form-control-user" placeholder="Mínimo 8 carácteres" name="contacto" required>
                </div>

                <div class="form-group w-50 mx-auto">
                    <button type="submit" class="btn btn-success btn-user btn-block">
                        Crear cuenta
                    </button>
                        <a class="font-weight-bold" href="/registro/personalizacion_de_perfil">
                    crear cuenta
                </a>
                </div>

            </form>
        </div>
        
        <div class="col-lg d-none d-lg-block">
            <img src="/img/logo.png" class="mx-auto d-block w-75 filtro">
        </div>
    </div>
    <!-- Fin de la fila -->
</div>
{{> footer }}
