 {{> head }} {{> navbar }}


<div class="container text-center mt-5 pt-3 animated fadeIn">
    <form class="user w-75 mx-auto mt-5 text-decoration-none" id="login-form">
        <a href="/login" class="text-decoration-none">
            <i class="fas fa-sign-in-alt text-info" style="font-size: 60px;"></i>
            <button type="button" class="btn btn-info btn-user btn-block btn-lg text-dark font-weight-bold " style="font-size: 25px; ">
                Ingresar
            </button>
        </a>
        <hr>
        <a href="/dashboard/create/account" class="text-decoration-none">
            <i class="fa fa-user-plus text-success mb-2" aria-hidden="true" style="font-size: 60px;"></i>
            <button type="button" class="btn btn-success btn-user btn-block btn-lg text-dark font-weight-bold " style="font-size: 25px; ">
                Crear cuenta
            </button>
        </a>
    </form>
</div>


{{> footer }}