{{> head_Partial }}

        <div class="col-lg-4 mt-5 animated bounceIn">
            <div class="row ">
                <div class="col">
                    <a class="btn button-19" href="/registro/registro_cuenta_personal">
                        <h1>Perfil Personal</h1>
                    </a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col back-Yellow-Black bordes-form p-5">
                    <h3 class="texto-verde">*Este perfil está dirigido a alumnos y egresados del Centro Universitario interesados en buscar una vacante de empleo, servicio social, prácticas ó estancias profesionales.</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-4 d-none d-lg-block mt-5">
            <img src="/img/logo.png" class="img img-fluid filtro">
        </div>
        <div class="col mt-5 animated bounceIn">
            <div class="row ">
                <div class="col">
                    <a class="btn button-19" href="/registro/registro_cuenta_empresarial">
                        <h1>Perfil Empleador</h1>
                    </a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col back-Yellow-Black bordes-form p-5">
                    <h3 class="texto-verde">*Este tipo de perfil está dirigido a empresas, organizaciones e instituciones que estén interesadas en crear convenios, ofrecer vacantes de empleo, así  como difusión de sus actividades.</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin de la fila -->
</div></div>{{> footer }}
