{{> head }}
{{> navbar}}


<div class="container text-center p-5">
    <div class="row mt-5">
        <div class="col-lg-4 mt-5 animated bounceIn">
            <div class="row ">
                <div class="col">
                    <a class="btn btn-success btn-md" href="/registro/registro_cuenta_personal">
                        Perfil Personal
                    </a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col back-Yellow-Black bordes-form p-5">
                    *Este perfil está dirigido a alumnos y egresados del Centro Universitario interesados en buscar una vacante de empleo, servicio social, prácticas ó estancias profesionales.
                </div>
            </div>
        </div>
        <div class="col-lg-4 d-none d-lg-block mt-5">
            <img src="/img/logo.png" class="img img-fluid filtro">
        </div>
        <div class="col mt-5 animated bounceIn">
            <div class="row ">
                <div class="col">
                    <a class="btn btn-success btn-md" href="/registro/registro_cuenta_empresarial">
                        Perfil Empresarial
                    </a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col back-Yellow-Black bordes-form p-5">
                    *Este tipo de perfil está dirigido a empresas, organizaciones e instituciones que estén interesadas en crear convenios, ofrecer vacantes de empleo, así  como difusión de sus actividades.
                </div>
            </div>
        </div>
    </div>
    <!-- Fin de la fila -->
</div></div>{{> footer }}
