{{> head }}
{{> navbar }}


<div class="container pt-5 text-center">
    <div class="row mt-5">
        <div class="col">
            <h5>Se registro exitosamente su cita.</h5>
            <h5 class="text-dark font-weight-bold mt-5">Estamos en proceso de verificar su cuenta. Espera la confirmación.</h5>
        </div>
                <!-- Fin de la fila -->
            </div>


<div class="row mt-5 pt-5">
    <div class="col texto-oscuro">
        Dudas y Aclaraciones: <br>
        BolsaDeTrabajo.CUVT.UAEM@uaemex.mx <br>
        (01 592) 92 4 55 83
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-4 mx-auto">
      <a href="/perfil/empresarial/1" class="btn btn-success btn-user btn-block">Continuar</a>  
    </div>
</div>         
                                


</div>


            <!-- Fin container -->
            </div>
            {{> footer }}