{{> head_Partial }}
                    <!-- 404 Error Text -->
                    <div class="col text-center">
                        <div class="mx-auto texto-oscuro">
                            <h1>{{msg}}</h1>
                            </div>
                        <h2><a href="/">&larr; Regresar</a></h2>
                        <hr>
                    </div>

                </div>
                <!-- /.container-fluid -->

    
{{> footer }}

    