{{> head_Partial }}
    <div class="col text-center">
        {{#if (ifeq usuario.perfilVerificado "Verificado")}}
        <h1 class="texto-verde">Se actualizaron sus datos exitosamente!</h1>
        {{else}}
        <h5>Se registro exitosamente su cuenta.</h5>
        <h5 class="text-dark font-weight-bold mt-5">Estamos en proceso de verificar su cuenta. Espera la confirmación.
        </h5>
        {{/if}}
        <!-- Fin de la fila -->


        <div class="row mt-5 pt-5">
            <div class="col form-control-lg">
                {{> dudasYAclaraciones_Partial }}
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-4 mx-auto">
                <a href="/perfil/empresarial/1" class="btn btn-success btn-user btn-block">Continuar</a>
            </div>
        </div>
    </div>


    <!-- Fin container -->
</div>
{{> footer }}