body {
    background: rgb(15,82,1);
    background: linear-gradient(0deg, rgba(15,82,1,1) 0%, rgba(185,197,60,1) 94%);
}

.filtro {
    opacity: 0.1;
    filter: alpha(opacity=10); /* Para IE8 y anteriores */
}

.back-Yellow-Black {
    background: rgb(218,206,28);
    background: radial-gradient(circle, rgba(218,206,28,1) 0%, rgba(131,139,54,1) 95%);
}

.bordes-form {
    border-radius: 10%;
}
.numero-notificacion {
  position: absolute;
  transform: scale(1.0);
  transform-origin: top right;
  right: .25rem;
  margin-top: -.25rem;
}

.texto-verde {
    color:darkgreen;
    font-weight: bold;
}

.foto-perfil {
        width:200px;
        height:200px;
        border-radius:200px;
        border: 4px solid goldenrod;
}

.foto-empresa {
    width:200px;
    height:200px;
    border: 4px solid goldenrod;
}